# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Build output
dist/
build/
out/

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log
*.log.*
debug.log

# OS files
.DS_Store
Thumbs.db

# Temporary files
.tmp/
temp/
.cache/

# IDEs
.vscode/
.idea/

# Prisma (se usares)
prisma/generated/
src/generated/prisma/

# Uploads locais (se existirem)
uploads/
public/uploads/
